name: commit lint
on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Lint commit
        uses: wagoid/commitlint-github-action@v6.2.1
        with:
          configFile: './.commitlintrc.json'
