name: commit lint
on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0

      - name: Lint commit
        uses: wagoid/commitlint-github-action@v5.4.3
        with:
          configFile: './.commitlintrc.js'
